body {
  text-align: center;
  padding: 60px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  width: 400px;
  height: 50px;
  font-size: 30px;
  padding-left:15px;
}

button {
  height: 50px;
  font-size: 25px;
  padding: 10px;
}

::placeholder{
  color: rgb(211, 210, 210);
}

h4{
  padding-top: 100px;;
}

p, li {
  font-size: 15px;
  color: rgb(59, 58, 58);
}

li{
  list-style-type: none;
}
